%h1 About Wikiclone
%p Wikiclone is a Ruby on Rails based collaboration tool that allows members to create public Markdown-based wikis. Additionally, members can purchase a premium account which allows them to add collaborators and create private wikis.
%ul
  %li Create wiki page using Markdown syntax.
  %li Create public wikis that anyone may view.
  %li Upgrade your account and create private wikis.
  %ul
    %li With a premium account you can add an unlimited number of collaborators to your private wikis.
%h2 Want to try it out?
%p If you are interested in test-driving Wikiclone login using the following cedentials:
%strong Premium Account
%ul.list-unstyled
  %li U: john@example.com
  %li P: helloworld
%strong Member Account
%ul.list-unstyled
  %li U: matthew@example.com
  %li P: helloworld
%h2 Want to see more?
%p If you are interested in or have any questions about my work, please visit my site at <a href="http://www.soriafernando.com/" target="_blank">www.soriafernando.com</a>.