<h1>About Wikiclone</h1>
<p>Wikiclone allows users to create public and private Markdown-based wikis.</p>
<ul>
  <li>Create wiki page using Markdown syntax.</li>
  <li>Create public wikis that anyone may view.</li>
  <li>Upgrade your account and create private wikis.</li>
  <ul>
    <li>With a premium account you can add an unlimited number of collaborators to your private wikis.</li>
  </ul>
</ul>
<p>Created by: Fernando Soria</p>