%h1 About Wikiclone
%p Wikiclone allows users to create public and private Markdown-based wikis.
%ul
  %li Create wiki page using Markdown syntax.
  %li Create public wikis that anyone may view.
  %li Upgrade your account and create private wikis.
  %ul
    %li With a premium account you can add an unlimited number of collaborators to your private wikis.
%p Created by: Fernando Soria